<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Breath_of_the_Wild_Multiplayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Breath_of_the_Wild_Multiplayer.Properties.Settings>
            <setting name="playerName" serializeAs="String">
                <value>Link</value>
            </setting>
            <setting name="background" serializeAs="String">
                <value>Random</value>
            </setting>
            <setting name="actualBackground" serializeAs="String">
                <value>/Images/mainWindowBackground.png</value>
            </setting>
            <setting name="serversAdded" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="backgroundDir" serializeAs="String">
                <value />
            </setting>
            <setting name="backgroundExt" serializeAs="String">
                <value />
            </setting>
            <setting name="bcmlLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="playerModel" serializeAs="String">
                <value>{"Name":"Link","Description":"This model does allow for armor sync.","IsArmorSync":true,"Model":"Jugador1ModelNameLongForASpecificReason","BumiiData":null,"AlternativeModel":"","BustPic":"/Images/Bust/Link.png","BodyPic":"/Images/Body/Link.png","ModelIndex":0,"HasCustomAction":false,"Selected":true,"CustomAction":null}</value>
            </setting>
            <setting name="playAsModel" serializeAs="String">
                <value>False</value>
            </setting>
        </Breath_of_the_Wild_Multiplayer.Properties.Settings>
    </userSettings>
</configuration>